/bin/
/build/
/data/*
!/data/dtcc-*
!/data/testCase/
!/data/sampleCityJSON/

/sandbox/smoothing-2023/data/*
/sandbox/smoothing-2023/build

.idea/
.vscode/
cmake-build-debug/
__pycache__
*.pyc

.DS_Store