[submodule "dtcc-model"]
	path = dtcc-model
	url = https://gitlab.com/dtcc-platform/dtcc-model.git
[submodule "dtcc-docker"]
 2     path = dtcc-docker
 3     url = https://gitlab.com/dtcc-platform/dtcc-docker.git
