/bin/
/build/
/data/*
/tests/cpp/bin/*
!/data/dtcc-*
!/data/testCase/
!/data/sampleCityJSON/
/sandbox/profiling/build
/sandbox/profiling/data/*
!/sandbox/profiling/data/data.tar.gz
.env/
*.so
*.o

.idea/
.vscode/
.env/
cmake-build-debug/
__pycache__
*.pyc

.DS_Store
