[submodule "dtcc-model"]
	path = dtcc-model
	url = https://gitlab.com/dtcc-platform/dtcc-model.git
[submodule "dtcc-docker"]
	path = dtcc-docker
	url = https://gitlab.com/dtcc-platform/dtcc-docker.git
